.Login, .Signup {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  background: fixed;
  height: 100%;
  width: 100%;
}

.form-submission {
  background: white;
  border: 1px solid lighten($gray, 50%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-basis: auto;
  padding: $m-size;
  margin: $xl-size;
  direction: ltr;
}

.form-submission > label {
  color: $gray;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.form-submission > input {
  background: $gray-blue;
  border: none;
  border-bottom: .3rem solid darken($gray-blue, 10%);
  color: $off-white;
  padding: $s-size;
}