.navs-container {
  display: flex;
  background: $blue;
  border: none;
  border-bottom: .6rem solid darken($blue, 10%);
}

.nav {
  background: $blue;
  border: none;
  font-weight: bold;
  font-size: $m-size;
  color: white;
  margin: 0;
  padding: $s-size $xl-size;
}

.nav:hover {
  background: darken($blue, 10%);
}

.button-nav {
  margin: $m-size;
  border-radius: 5px;
  text-align: center;
}