.news {
  float: right;
  flex-grow: 1;
  margin: $m-size;
}

.news-item {
  display:flex;
  flex-direction: column;
  background: lighten($blue, 40%);
  border: 1px solid lighten($gray, 50%);
  padding: 0;
  margin: 0 $m-size $m-size;
}

.news-item__content {
  flex-grow: 1;
  margin: $xl-size;
}

.news-item__img {
  height: auto;
  width: 100%;
  margin: 0;
}

.news-page {
  display: flex;
  flex-direction: column;
  background: lighten($blue, 25%) fixed;
  min-height: 100vh;
  margin: 0;
  padding: $xl-size;
}

.news-page > .news-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: white;
  margin: 0;
}

.news-item__date {
  font-size: smaller;
  color: gray;
}

.news-item__tag-holder {
  display: flex;
  flex-direction: row;
}

.news-item__tag {
  padding: 3px;
  margin: 0 0 0 5px;
  background-color: lighten(gray, 40%);
  color: darken(gray, 5%);
  border: none;
  border-radius: 7px;
  max-width: fit-content;
  max-height: fit-content;
  font-size: smaller;
  float: left;
}

.news-page__comment-section {
  display: flex;
  flex-direction: column;
  background: lighten($blue, 40%);
  border: 1px solid lighten($gray, 50%);
  margin-top: $l-size;
  padding: $xl-size;
}

.news-page__comment {
  display: flex;
  flex-direction: column;
  background: lighten($blue, 30%);
  border: 1px solid lighten($gray, 50%);
  margin-bottom: $s-size;
  padding: 0;
}

.comment-header {
  display: flex;
  flex-direction: row;
  background: lighten($blue, 37%);
  border: none;
  border-bottom: 1px solid lighten($gray, 50%);
  margin: 0;
  padding: 0;
}

.comment-content {
  padding: $l-size $s-size $m-size;
}