.score-board {
  width: 45%;
  margin: $m-size;
  border: 1px solid lighten($gray, 50%);
  min-width: fit-content;
}

.home-page > .score-board { //for football basketball tab
  border: none;
}

.tab-content > .score-board { //for inside football basketball tab
  width: auto;
  min-width: 95%;
  margin: 0;
}

.table-format ~ .score-board { //In league page beside team points table
  width: 35%;
  border: 1px solid lighten($gray, 50%);
}

.score-item {
  background: white;
  border: none;
  padding: $m-size;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.score-item:nth-child(2n) {
  background: lighten($gray, 50%);
}