.score-board {
  width: 45%;
  margin: $m-size;
  border: 1px solid lighten($gray, 50%);
}

.score-item {
  background: white;
  border: none;
  padding: $m-size;
  text-align: center;
  margin: 0;
}

.score-item:nth-child(2n) {
  background: lighten($gray, 50%);
}