html {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 62.5%;
  direction: rtl;
}

body, .container {
  font-family: B Lotus, B Nazanin, sans-serif;
  font-size: $m-size;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  flex-grow: 1;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.tab-list-item {
  cursor: pointer;
}

.header {
  background: lighten($blue, 25%);
  margin: 0;
  padding: $s-size;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lighten($blue, 40%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($blue, 30%);
}